.cardContainer {
  height: 250px;
  width: 250px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.upperDiv{
  visibility: hidden;
  height: 70%;
  opacity: 0.5;
  background-color: gray;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.lowerDiv{
  height: 30%;
  background-color: gray;
}

.cardContainer:hover > .upperDiv{
  visibility: visible;
}
